.setting {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.setting__button {
  border: none;
  background: transparent;
  padding: 0;
  width: 24px;
  height: 24px;
}

.setting__button span {
  display: none;
}
