@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --red: #ea6e6e;
  --white: #f5f5f5;
  --black: #383939;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: 'Poppins', sans-serif;
}
